{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Turbojet Engine Study</title>

        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <style>
            #wrapper {
                min-height: 100vh;
            }

            .plots {
                display: none;
            }
        </style>

    </head>
    <body id="page-top">
        <div id="wrapper">
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-2 col-lg-2">
                                <div class="col-xl-12 col-md-12 mb-4 mt-4" style="margin-bottom: 15px !important;">
                                    <div class="sidebar-brand-text mx-3 text-center" style="font-weight: bold; color: rgb(41,25,115);">TURBOJET<br>Cycle Analysis<br>Parametric Study</div>
                                </div>
                                <hr class="sidebar-divider my-0">
                                <form id="plotform" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="col-xl-12 col-md-12 mb-4 mt-4" style="margin-bottom: 20px !important; margin-top: 20px !important">
                                        <p class="nav-link" style="text-align: center; margin-bottom: 0px !important; padding-top: 0 !important; padding-bottom: 0 !important">
                                            <span style="font-weight: bold">Fixed Parameters</span>
                                        </p>
                                    </div>
                                    <div class="form-group row nav-item">
                                        <label for="Ma" class="col-sm-6 nav-link iboxl">M<sub>a</sub></label>
                                        <div class="col-sm-5 ibox">
                                            <input type="text" class="form-control" id="Ma" name="Ma" value="0.75">
                                        </div>
                                    </div>
                                    <div class="form-group row nav-item">
                                        <label for="delH_CpTa" class="col-sm-6 nav-link iboxl">&Delta;H/C<sub>p</sub>T<sub>a</sub></label>
                                        <div class="col-sm-5 ibox">
                                            <input type="text" class="form-control" id="delH_CpTa" name="delH_CpTa" value="150">
                                        </div>
                                    </div>
                                    <div class="form-group row nav-item">
                                        <label for="Tt4_Ta" class="col-sm-6 nav-link iboxl">T<sub>t4</sub>/T<sub>a</sub></label>
                                        <div class="col-sm-5 ibox">
                                            <input type="text" class="form-control" id="Tt4_Ta" name="Tt4_Ta" value="6">
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-12 mb-4 mt-4" style="margin-bottom: 20px !important; margin-top: 20px !important">
                                        <p class="nav-link" style="text-align: center; margin-bottom: 0px !important; padding-top: 0 !important; padding-bottom: 0 !important">
                                            <span style="font-weight: bold">Variables</span>
                                        </p>
                                    </div>
                                    <div class="form-group row nav-item">
                                        <div class="col-sm-4 ibox">
                                            <input type="text" class="form-control" id="pi_c_min" name="pi_c_min" value="5">
                                        </div>
                                        <label class="col-sm-4 nav-link iboxl" style="text-align: center">  &le; &pi;<sub>c</sub> &le;</label>
                                        <div class="col-sm-4 ibox">
                                            <input type="text" class="form-control" id="pi_c_max" name="pi_c_max" value="25">
                                        </div>
                                    </div>
                                    <div class="form-group row nav-item">
                                        <label for="steps" class="col-sm-7 nav-link iboxl">Steps</label>
                                        <div class="col-sm-4 ibox">
                                            <input type="text" class="form-control" id="steps" name="steps" step="0.1" value="2.5">
                                        </div>
                                    </div>
                                    <div class="form-group row nav-item" style="margin-top: 15px;">
                                        <div class="col-sm-11 iboxl text-center">
                                            <button class="btn btn-danger" type="submit" id="plot">Plot</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="form-group row nav-item" style="margin-top: 100px;">
                                    <div class="col-sm-11 iboxl text-center">
                                        <a href="{%  url 'turbofan' %}"><button class="btn btn-primary">Go to Turbofan</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="card shadow mb-4 mt-4 plots">
                                    <div id="force"></div>
                                </div>
                                <div class="card shadow mb-4 mt-4 plots">
                                    <div id="tsfc"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

        <script type="text/javascript">

            function plotter(data) {
                
                var data_f = [{
                    x: data.x,
                    y: data.f,
                    type: 'scatter',
                    line: {
                        color: 'rgb(219, 64, 82)',
                    }
                    }];

                var layout_f = {
                    title: 'Plot of Force v/s πc',
                    xaxis: {
                          title: 'πc'
                    },
                    yaxis: {
                        title: 'F/ma'
                    },
                    height: 350,
                };

                Plotly.newPlot('force', data_f, layout_f);

                var data_t = [{
                    x: data.x,
                    y: data.t,
                    type: 'scatter'
                    }];

                var layout_t = {
                    title: 'Plot of TSFC v/s πc',
                    xaxis: {
                        title: 'πc'
                    },
                    yaxis: {
                        title: 'TSFCa'
                    },
                    height: 350
                };

                Plotly.newPlot('tsfc', data_t, layout_t);

            }

            $('#plotform').submit(
                function( e ) {
                    $.ajax( {
                        url: "{% url 'plot:turbojet_solve' %}",
                        type: 'POST',
                        data: new FormData(this),
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            $('.plots').css("display", "block");
                            plotter(data);
                        }
                    } );
                    e.preventDefault();
                } 
            );
        </script>

    </body>
</html>
